#content, html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: alga, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14pt;
    color: #FFFFFF;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

::selection {
  color: red;
  background: black;
}

::-webkit-scrollbar {
  display: none;
}

#left {
  float: left;
  border-right: 1px solid #000AFF;
  width: 50vw;
  height: 100vh;
  background-color: #000AFF;
  overflow-y: scroll;
  overflow-x: hidden;
}
#right {
  float: left;
  width: 50vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1 {
  font-family: alga, serif;
  font-weight: 300;
  font-style: normal;
}

a {
  color: white;
}

a:visited {
  color: white;
}

p {
  font-family: alga, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14pt; 
}

#header {
  display: flex;
  flex-direction: row;
  height: 200px;
  width: calc(100% - 40px);
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.radio_logo {
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 1;
  animation: 2s rotating infinite;
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.header_title {
  grid-column-start: 3;
  grid-column-end: 4;
  margin-top: 30px;
  margin-left: 40px;
  width: 60%;
}

.show{
  display: flex;
  flex-direction: row;
  border: 1px solid #fff;
  border-right-style: none;
  border-left-style: none;
  width: calc(100% - 40px);
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.show_logo{  
  display: flex;
  height: 150px;
  margin-top: 20px;
  margin-bottom: auto;
}

.description {
  margin-left: 30px;
  margin-top: 20px;
}

.title {
  font-size: 26pt;
  font-family: alga, serif;
  font-weight: 300;
  font-style: normal;
}
.theme {
  width: 75%;
  font-size: 18pt;
  font-family: alga, serif;
  font-weight: 300;
  font-style: italic;
}

.creators {
  font-family: alga, serif;
  font-weight: 300;
  font-size: 14pt;
  font-style: light;
}


.time {
  font-size: 18pt;
  font-family: alga, serif;
  font-weight: 300;
  font-style: normal;
  margin-top: 20px;
  margin-left: 30px;
}

.interlude {
  font-size: 18pt;
  display: flex;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 120%;
  animation-name: scrollleft;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: linear;
}



@keyframes scrollleft {
  0% { transform: translateX(-50%); }

  100% { transform: translateX(90%); }
}

#shoutout {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 95%;
  font-size: 12pt;
}



#headerright {
  display: flex;
  flex-direction: column;
  height: 45%;
  width: 100%;
  padding: 0 20px 20px 20px;
  margin-left: auto;
  margin-right: auto;
  color: blue;
}

#nowplaying_container {
  background-color: blue;
  margin-left: -20%;
  padding: 20px;
  margin-top: 0;
}

.nowplaying {
  animation-name: scrollleft;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: linear;
  color: white;
  font-size: 26pt;
}


@keyframes scrollleft {
  0% { transform: translateX(100%); }

  100% { transform: translateX(-50%); }
}

#show_logo_right {
  height: auto;
  width: 25vh;
  margin-top: 20px;
}
.chat {
  bottom: 0;
  height: 50%;
  width: 100%;
}
#chatroom {
  margin-left: 20px;
  height: 100%;
  width: 94%;
  background-color: blue;
}
.audiocontainer {
  margin-top: 10px;
}

@media screen and (max-width: 1150px) {
  body {
    font-size: 12pt;
  }
}

@media screen and (max-width: 940px) {
 
  #content, html, body {
    height: auto;
    width: 100%;
    margin: 0px;
    font-family: alga, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14pt;
    color: #FFFFFF;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: visible;
    overflow-x: hidden;
}

::selection {
  color: red;
  background: black;
}

::-webkit-scrollbar {
  display: none;
}

#left {
  float: left;
  border: none;
  width: 100vw;
  height: auto;
  background-color: #000AFF;
  overflow-y: visible;
  overflow-x: visible;
}
#right {
  float: left;
  width: 100vw;
  height: auto;
  overflow-y: visible;
  overflow-x: visible;
}

h1 {
  font-family: alga, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14pt;
}


p {
  font-family: alga, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14pt; 
}

#header {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: calc(100% - 40px);
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.radio_logo {
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 1;
}

.header_title {
  grid-column-start: 3;
  grid-column-end: 4;
  margin-top: 10px;
  margin-left: 40px;
  width: 60%;
}

.show{
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  border-right-style: none;
  border-left-style: none;
  width: calc(100% - 40px);
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.show_logo{  
  display: flex;
  width: 150px;
  margin-left: 30px;
}

.description {
  margin-left: 30px;
  margin-top: 20px;
}

.title {
  font-size: 18pt;
  font-family: alga, serif;
  font-weight: 300;
  font-style: normal;
}
.theme {
  width: 75%;
  font-size: 14pt;
  font-family: alga, serif;
  font-weight: 300;
  font-style: italic;
}

.creators {
  font-family: alga, serif;
  font-weight: 300;
  font-size: 12pt;
  font-style: light;
}


.time {
  font-size: 18pt;
  font-family: alga, serif;
  font-weight: 300;
  font-style: normal;
  margin-top: 20px;
  margin-left: 30px;
}

.interlude {
  font-size: 14pt;
  display: flex;
  text-align: center;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}



#headerright {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  color: blue;
}

#show_logo_right {
  width: 240px;
}
.chat {
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
}
#chatroom {
  margin-left: 10px;
  height: 100%;
  width: 94%;
  background-color: blue;
}
.audiocontainer {
  margin-top: 20px;
}




}