#content, html, body {
    height: 100%;
    margin: 0px;
    font-family: 'Times New Roman', serif;
    font-weight: normal;
    font-size: 20px;
    color: #f00;
    background-color: #fff;
}

a {
  color: #f00;
  text-decoration: none;
  border-bottom: 1px solid #f00;
}

#left {
    float: left;
    border-right: 1px solid #f00;
    padding: 20px;
    width: calc(50vw - 41px);
    height: calc(100vh - 40px);
    overflow: scroll;
}
#right {
    float: left;
    padding: 20px;
    width: calc(50vw - 40px);
    height: calc(100vh - 40px);
    overflow: scroll;
}

.button {
  border: 1px solid #f00;
  border-radius: 40px;
  padding: 5px;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
.button:hover {
  background-color: #f00;
  color: #fff;
}
.students {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.planning {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

figure {
    margin: 0;
}
